<h3 class="title"> 
	<i class="index">{{id}}.</i>
	<a {{bind-attr href=item.url}}>{{item.title}}</a> 
	({{url-parse item.url part="hostname"}})
</h3>

<span class="details">
  {{item.score}} points by {{#link-to 'user' item.username}}{{item.username}}{{/link-to}} {{time-ago item.time}}
  | {{#link-to 'item' item.id}}{{#if item.numKids}}comments{{else}}discuss{{/if}}{{/link-to}}
</span>