<p>{{view.itemIndex}}. <a {{bind-attr href=url}}>{{title}}</a> ({{url-parse url part="hostname"}})</p>
<p>
  {{score}} points by <strong>{{username}}</strong> {{time-ago time}}
  | {{#link-to 'item' id}}comments{{/link-to}}
</p>