<p>{{view.itemIndex}}. <a {{bind-attr href=url}}>{{title}}</a> ({{url-parse url part="hostname"}})</p>
<p>
  {{score}} points by {{#link-to 'user' username}}{{username}}{{/link-to}} {{time-ago time}}
  | {{#link-to 'item' id}}{{#if numKids}}comments{{else}}discuss{{/if}}{{/link-to}}
</p>