<div id="header">
	<div class="header-wrap">
    {{#link-to 'topstories' (query-params page=1) id="logo"}}
      <img src="images/ember_logo.png" />
    {{/link-to}}

		<div id="nav">
		{{#link-to 'topstories' (query-params page=1)}}EmberJS Hacker News{{/link-to}}
		</div>
	</div>
</div>



<style>

nav i {
  margin: 2px 0px;
}

i.icon svg {
  height: 36px;
  width: 36px;
  /*fill: #999;*/
  fill: rgba(170, 170, 170, 0.5);
}

i.icon svg:hover {
  fill: rgba(170, 170, 170, 0.9);
}

</style>


<nav>
  <i class="icon">{{partial 'svgs/home'}} </i>
  <i class="icon">{{partial 'svgs/news'}} </i>
  <i class="icon">{{partial 'svgs/thermometer'}} </i>
  <i class="icon">{{partial 'svgs/hour-glass'}} </i>
  <i class="icon">{{partial 'svgs/address'}} </i>
  <i class="icon">{{partial 'svgs/modern-mic'}} </i>
  <i class="icon">{{partial 'svgs/help'}} </i>
</nav>


<div id="content">
  {{outlet}}
</div>