<div id="header">
	<div class="header-wrap">
		<div id="nav">

		{{#link-to 'topstories' (query-params page=1)}}Hacker News{{/link-to}}

    <i class="icon">{{partial 'svgs/home'}} </i>

    {{#link-to 'topstories' (query-params page=1)}}<i class="icon">{{partial 'svgs/news'}}</i>{{/link-to}}

    <i class="icon">{{partial 'svgs/thermometer'}} </i>
    <i class="icon">{{partial 'svgs/hour-glass'}} </i>
    <i class="icon">{{partial 'svgs/address'}} </i>
    <i class="icon">{{partial 'svgs/modern-mic'}} </i>
    <i class="icon">{{partial 'svgs/help'}} </i>

		</div>
	</div>
</div>

<div id="content">
  {{outlet}}
</div>