<h3>Top stories</h3>
{{#if stories.length}}
  {{pagination-links routeName='topstories' page=page itemsPerPage=itemsPerPage totalItems=stories.length}}

  <ul class="news-items">
    {{#each resultsForPage as |story|}}
      {{story-item rank=story.rank item=story.item}}
    {{/each}}
  </ul>

  {{pagination-links routeName='topstories' page=page itemsPerPage=itemsPerPage totalItems=stories.length}}
{{else}}
  {{partial 'loading'}}
{{/if}}