<div class="article {{item.hasKids}}">
	<h1 class="title">{{item.title}}</h1>
	<span class="source">(<a href={{item.url}}>{{url-parse item.url part="hostname"}}</a>)</span>

	<span class="info">
  <strong>{{item.score}} points</strong> by <strong>{{#link-to 'user' item.username}}{{item.username}}{{/link-to}}</strong> {{time-ago item.time}}
	</span>

  {{#if item.hasKids}}
    <ul class="comment-items">
      {{#each item.kids as |kid|}}
        {{comment-item comment=kid}}
      {{/each}}
    </ul>
  {{else}}
    <br><br>Start the discussion
  {{/if}}
</div>