<div class="article">
	<h1 class="title">{{title}}</h1>
	<span class="source">(<a href={{url}}>{{url-parse url part="hostname"}}</a>)</span>

	<span class="info">
	  {{score}} points by {{#link-to 'user' username}}{{username}}{{/link-to}} {{time-ago time}}
	  | {{#link-to 'item' id}}{{#if numKids}}comments{{else}}discuss{{/if}}{{/link-to}}
	</span>

	{{#if hasKids}}
	  {{collection 'comment-items' content=kids}}
	{{/if}}
</div>