<h5>{{type}}</h5>

<a target="_blank" {{bindAttr href=url}}>
 <h1>{{title}}</h1>
</a>

<p>created {{time}}</p>
<p>by {{by.content.id}} [{{by.content.karma}}] [{{by.content.created}}]</p>
<p>{{text}}</p>