<h1>{{username}}</h1>
<dl>
  <dt>Created:</dt>
  <dd>{{time-ago created}}</dd>
  <dt>Karma:</dt>
  <dd>{{karma}}</dd>
  <dt>About:</dt>
  <dd>{{about}}</dd>
  {{!-- 
    <dt>Submitted:</dt>
    <dd>{{numSubmissions}}</dd> 
  --}}  
</dl>