<h3 class="title">
  <i class="index">{{rank}}</i>
  {{#if item.isLoaded}}
      <a href={{item.url}} target="_blank">{{item.title}}</a>
  {{else}}
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
  {{/if}}
</h3>
<span class="details">
  {{#if item.isLoaded}}
    {{item.score}} points
    | {{#link-to 'user' item.username}}{{item.username}}{{/link-to}}
    | {{time-ago item.time}}
    | {{#link-to 'item' item.id}} {{#if item.hasDescendants}}{{item.descendants}} comments{{else}}discuss{{/if}}{{/link-to}}
    {{#if item.url}}
     | {{url-parse item.url part="hostname"}}
    {{/if}}
  {{/if}}
</span>